In [1]:
# import pyspark

In [16]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [5]:
spark = SparkSession.builder.appName("PySpark_Basic").getOrCreate()

In [6]:
spark

In [21]:
df_spark = spark.read.csv('titanic.csv',header=True,inferSchema=True)

In [22]:
df_spark

DataFrame[_c0: int, PassengerId: int, Survived: int, Sex: int, Age: double, Fare: double, Pclass_1: int, Pclass_2: int, Pclass_3: int, Family_size: double, Title_1: int, Title_2: int, Title_3: int, Title_4: int, Emb_1: int, Emb_2: int, Emb_3: int]

In [24]:
df_spark.head(1)

[Row(_c0=0, PassengerId=1, Survived=0, Sex=1, Age=0.275, Fare=0.014151057562208049, Pclass_1=0, Pclass_2=0, Pclass_3=1, Family_size=0.1, Title_1=1, Title_2=0, Title_3=0, Title_4=0, Emb_1=0, Emb_2=0, Emb_3=1)]

In [10]:
df_spark.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- Age: double (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Pclass_1: integer (nullable = true)
 |-- Pclass_2: integer (nullable = true)
 |-- Pclass_3: integer (nullable = true)
 |-- Family_size: double (nullable = true)
 |-- Title_1: integer (nullable = true)
 |-- Title_2: integer (nullable = true)
 |-- Title_3: integer (nullable = true)
 |-- Title_4: integer (nullable = true)
 |-- Emb_1: integer (nullable = true)
 |-- Emb_2: integer (nullable = true)
 |-- Emb_3: integer (nullable = true)

In [11]:
df_spark.select('Survived').show()

+--------+
|Survived|
+--------+
|       0|
|       1|
|       1|
|       1|
|       0|
|       0|
|       0|
|       0|
|       1|
|       1|
|       1|
|       1|
|       0|
|       0|
|       0|
|       1|
|       0|
|       1|
|       0|
|       1|
+--------+
only showing top 20 rows

In [12]:
!pip install numpy

Access is denied.

In [20]:
for columns in df_spark.columns:
    print(columns,df_spark.filter(col(columns).isin([None,np.nan])).count())

_c0 0
PassengerId 0
Survived 0
Sex 0
Age 0
Fare 0
Pclass_1 0
Pclass_2 0
Pclass_3 0
Family_size 0
Title_1 0
Title_2 0
Title_3 0
Title_4 0
Emb_1 0
Emb_2 0
Emb_3 0